<?xml version="1.0" encoding="UTF-8"?>
<!--
/* ===========================================================
 * $Id$
 * This file is part of Micrite
 * ===========================================================
 *
 * (C) Copyright 2009, by Gaixie.org and Contributors.
 * 
 * Project Info:  http://micrite.gaixie.org/
 *
 * Micrite is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Micrite is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Micrite.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="loginAction" class="org.gaixie.micrite.security.action.LoginAction" scope="prototype"/>
    <bean id="userAction" class="org.gaixie.micrite.security.action.UserAction" scope="prototype"/>
    <bean id="authorityAction" class="org.gaixie.micrite.security.action.AuthorityAction"  scope="prototype" />
    <bean id="roleAction" class="org.gaixie.micrite.security.action.RoleAction"  scope="prototype" />

    <bean id="loginService" class="org.gaixie.micrite.security.service.impl.LoginServiceImpl" />
    <bean id="userService"  class="org.gaixie.micrite.security.service.impl.UserServiceImpl" />
    <bean id="authorityService"  class="org.gaixie.micrite.security.service.impl.AuthorityServiceImpl" />
    <bean id="roleService"  class="org.gaixie.micrite.security.service.impl.RoleServiceImpl" />
    <bean id="securityInterceptorService"  class="org.gaixie.micrite.security.service.impl.SecurityInterceptorImpl" />
    
    <bean id="userDao" class="org.gaixie.micrite.security.dao.hibernate.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="authorityDao" class="org.gaixie.micrite.security.dao.hibernate.AuthorityDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="roleDao" class="org.gaixie.micrite.security.dao.hibernate.RoleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="settingDao" class="org.gaixie.micrite.security.dao.hibernate.SettingDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
</beans>