.details .x-btn-text {
    background-image: url(../images/search.png);
}

.errorMsg {
	font-size:12px;
	color:red;
	text-indent:5px;
}
.infoMsg {
	font-size:12px;
	color:green;
	text-indent:5px;
}

#msg-div em {
	font-style: italic;
	color: gray;
}

.add-icon {
	background-image: url(../images/add.png) !important;
}
.delete-icon {
	background-image: url(../images/delete.png) !important;
}
.cancel-icon {
	background-image: url(../images/cancel.png) !important;
}
.save-icon {
	background-image: url(../images/save.png) !important;
}
.bind-icon {
	background-image: url(../images/bind.png) !important;
}
.unbind-icon {
	background-image: url(../images/unbind.png) !important;
}
.pie-chart-icon {
	background-image: url(../images/pie-chart.png) !important;
}
.bar-chart-icon {
	background-image: url(../images/bar-chart.png) !important;
}
.line-chart-icon {
	background-image: url(../images/line-chart.png) !important;
}
.edit-icon {
	background-image: url(../images/edit.png) !important;
}
.info-icon {
	background-image: url(../images/info.png) !important;
}
.alert-icon {
	background-image: url(../images/alert.png) !important;
}
.other-icon {
	background-image: url(../images/other.png) !important;
}
