<?xml version="1.0" encoding="UTF-8"?>
<!--
/* ===========================================================
 * $Id: pom.xml 44 2009-03-09 06:43:02Z maven.yu $
 * This file is part of Micrite
 * ===========================================================
 *
 * (C) Copyright 2009, by Gaixie.org and Contributors.
 * 
 * Project Info:  http://micrite.gaixie.org/
 *
 * Micrite is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Micrite is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Micrite.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!-- Hibernate SessionFactory definition using exposed dataSource -->
    <!-- hibernate.properties and hibernate.cfg.xml will be loaded on startup -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="org/gaixie/micrite/beans" />
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<!-- ~~~~~~~~~ Connection Info ~~~~~~~~~~ -->
        <!-- hsqldb -->
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:micritedb" />
		<property name="username" value="sa" />
		<property name="password" value="" />

        <!-- mysql -->
        <!-- 
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/micritedb" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        -->

        <!-- derby  please replace {ProjectHome} with your path of installation-->
        <!--        
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="url" value="jdbc:derby:{ProjectHome}/micritedb" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        -->
                
        <!-- postgresql -->
        <!--         
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/micritedb" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        -->
        
        <!-- oracle -->
        <!--         
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:micritedb" />
        <property name="username" value="sa" />
        <property name="password" value="" />
        -->
                        
		<!-- Connection Pooling Info -->
        <property name="maxActive" value="20" />
        <property name="maxIdle" value="10" />
        <property name="maxWait" value="1000" />
        <property name="defaultAutoCommit" value="false" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="60" />
        <property name="logAbandoned" value="true" />
    </bean>
    
    <!-- Transaction manager for a single JDBC DataSource -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <!--  Transaction interceptor  -->
    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
         <property name="transactionManager" ref="transactionManager" />
         <property name="transactionAttributes">
              <props>
                   <prop key="*">PROPAGATION_REQUIRED</prop>
              </props>
         </property>
    </bean>

    <!-- BeanName auto proxy to define the interceptor -->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
         <property name="beanNames">
              <list>
                   <value>*Service</value>
              </list>
         </property>
         <property name="interceptorNames">
              <list>
                   <value>transactionInterceptor</value>
              </list>
         </property>
     </bean>

    <!-- BeanPostProcessor detect @Autowired flag to inject -->   
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>   

    <!-- noreply.micrite@gmail.com is an accout for test, 
         Please dont change the password and dont let it become a spam account!
         noreply.micrite@gmail.com 只是一个用来测试邮件通知功能的帐号，
          请不要修改它的密码，已及不要通过它来测试大批量邮件发送，以免帐号被google删除。
          如果要进行邮件群发测试，最好自己注册一个新的邮件帐号!
    -->      
    <bean id="mailSender"
            class= "org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="465" />
        <property name="protocol" value="smtps" />
        <property name="username" value="noreply.micrite@gmail.com" />
        <property name="password" value="noreply123" />
        <property name="javaMailProperties">
            <props>
                <!--  采用 smpts协议  -->
                <prop key="mail.smtps.auth">true</prop>
                <!--  采用 tls加密方式  -->
                <prop key="mail.smtps.starttls.enable">true</prop>
                <prop key="mail.smtps.debug">true</prop>
            </props>
        </property>
        
        <!-- mail.163.com setting    
        <property name="host" value="smtp.163.com" />  
        <property name="port" value="25" />  
        <property name="username" value="xxxx@163.com" />  
        <property name="password" value="xxxxx" />  
        <property name="javaMailProperties">  
         <props>  
             <prop key="mail.smtp.auth">true</prop>  
         </props>  
        </property> 
        -->         
    </bean>
    
    <bean id="emailSender" class="org.gaixie.micrite.mail.impl.EmailSenderImpl" />     
</beans>