#** 
createdb.vm: Velocity template that generates vendor-specific database scripts 

DON'T RUN THIS, IT'S NOT A DATABASE CREATION SCRIPT!!!
**#

-- Run this script to create the Micrite database tables in your database.

-- *****************************************************
-- Create the tables and indices

-- ------------------------------------------------------
-- loginname: 系统的登录用户名
-- cryptpassword: 系统的登录密码
-- enabled: 用户状态 1=有效，0=无效
CREATE TABLE userbase (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    loginname              varchar(255) NOT NULL,    
    cryptpassword          varchar(128) NOT NULL,
    fullname               varchar(255) NOT NULL,
    emailaddress           varchar(255),
    enabled                $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL
);
ALTER TABLE userbase ADD CONSTRAINT userbase_loginname_uq UNIQUE ( loginname );

-- ------------------------------------------------------
-- description: 此角色的详细描述
CREATE TABLE roles (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    name                   varchar(255) NOT NULL,
    description            $db.TEXT_SQL_TYPE NOT NULL
);
ALTER TABLE roles ADD CONSTRAINT roles_name_uq UNIQUE ( name );

-- ------------------------------------------------------
CREATE TABLE user_role_map (
    user_id              integer NOT NULL,
    role_id              integer NOT NULL
);
ALTER TABLE user_role_map ADD CONSTRAINT user_role_map_user_id_uq UNIQUE ( user_id,role_id );

-- ------------------------------------------------------
-- type: 资源类型. URL=权限的控制类型为URL，METHOD=对方法进行拦截验证，MENU=控制模块入口在菜单的显式
-- value: 对应于 type的具体的值，如:/** 表示可以访问所有URL
CREATE TABLE authorities (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    name                   varchar(255) NOT NULL,
    type                   varchar(64) NOT NULL,
    value                  varchar(255) NOT NULL
);
ALTER TABLE authorities ADD CONSTRAINT authorities_value_uq UNIQUE ( type,value );

-- ------------------------------------------------------
CREATE TABLE role_authority_map (
    role_id                integer NOT NULL,
    authority_id           integer NOT NULL
);
ALTER TABLE role_authority_map ADD CONSTRAINT role_authority_map_role_id_uq UNIQUE ( role_id,authority_id );

-- ------------------------------------------------------
-- sortindex: 用于对配置可选值在显示的时候进行排序。
-- enabled: 1 用户可以修改， 0 用户不能修改。
CREATE TABLE setting(
  id                       $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
  name                     varchar(32) NOT NULL,
  value                    varchar(32) NOT NULL,
  sortindex                integer default 0 NOT NULL,
  enabled                  $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL
);
ALTER TABLE setting ADD CONSTRAINT setting_name_sortindex_uq UNIQUE ( name,sortindex );
ALTER TABLE setting ADD CONSTRAINT setting_name_value_uq UNIQUE ( name,value );

-- ------------------------------------------------------
CREATE TABLE user_setting_map(
  user_id                  integer NOT NULL,
  setting_id               integer NOT NULL
);
ALTER TABLE user_setting_map ADD CONSTRAINT usm_user_id_setting_id_uq UNIQUE ( user_id,setting_id );

-- ------------------------------------------------------
-- expiration: token的失效时间
CREATE TABLE tokens (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    token                  varchar(64) NOT NULL,    
    type                   varchar(16) NOT NULL,
    expiration             $db.TIMESTAMP_SQL_TYPE NOT NULL,
    user_id                integer NOT NULL
);
ALTER TABLE tokens ADD CONSTRAINT tokens_token_uq UNIQUE ( token );

ALTER TABLE tokens ADD CONSTRAINT tokens_user_id_fk FOREIGN KEY (user_id)
    REFERENCES userbase (id);
    
-- -----------------------------------------------------
-- principal: 匹配类型 1=按用户名，0=按角色
CREATE TABLE acl_sid (
    id                     $db.AUTO_BIG_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    principal              $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL,
    sid                    varchar(100) NOT NULL
);
ALTER TABLE acl_sid ADD CONSTRAINT acl_sid_uq UNIQUE ( principal,sid );

-- -----------------------------------------------------
CREATE TABLE acl_class (
    id                     $db.AUTO_BIG_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    class                  varchar(100) NOT NULL
);
ALTER TABLE acl_class ADD CONSTRAINT acl_class_uq UNIQUE ( class );

-- ------------------------------------------------------
CREATE TABLE acl_object_identity (
    id                     $db.AUTO_BIG_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    object_id_class        $db.BIGINT_SQL_TYPE NOT NULL,
    object_id_identity     $db.BIGINT_SQL_TYPE NOT NULL,
    parent_object          $db.BIGINT_SQL_TYPE,
    owner_sid              $db.BIGINT_SQL_TYPE, 
    entries_inheriting     $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL      
);
ALTER TABLE acl_object_identity ADD CONSTRAINT acl_object_identity_uq UNIQUE ( object_id_class,object_id_identity );

ALTER TABLE acl_object_identity ADD CONSTRAINT aoi_parent_object_fk FOREIGN KEY (parent_object)
    REFERENCES acl_object_identity (id);

ALTER TABLE acl_object_identity ADD CONSTRAINT aoi_object_id_class_fk FOREIGN KEY (object_id_class)
    REFERENCES acl_class (id);

ALTER TABLE acl_object_identity ADD CONSTRAINT aoi_owner_sid_class_fk FOREIGN KEY (owner_sid)
    REFERENCES acl_sid (id);

-- ------------------------------------------------------
--
CREATE TABLE acl_entry (
    id                     $db.AUTO_BIG_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    acl_object_identity    $db.BIGINT_SQL_TYPE NOT NULL,
    ace_order              integer NOT NULL,
    sid                    $db.BIGINT_SQL_TYPE NOT NULL,
    mask                   integer NOT NULL, 
    granting               $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL,
    audit_success          $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL,
    audit_failure          $db.BOOLEAN_SQL_TYPE_TRUE NOT NULL              
);
ALTER TABLE acl_entry ADD CONSTRAINT acl_entry_uq UNIQUE ( acl_object_identity,ace_order );

ALTER TABLE acl_entry ADD CONSTRAINT ae_acl_object_identity_fk FOREIGN KEY (acl_object_identity)
    REFERENCES acl_object_identity (id);

ALTER TABLE acl_entry ADD CONSTRAINT aoi_sid_fk FOREIGN KEY (sid)
    REFERENCES acl_sid (id);

-- ------------------------------------------------------
-- name: 客户的来源，如 陌生拜访，亲友
CREATE TABLE customer_source (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    name                   varchar(255)
);
ALTER TABLE customer_source ADD CONSTRAINT customer_source_name_uq UNIQUE ( name );

-- ------------------------------------------------------
CREATE TABLE customers (
    id                     $db.AUTO_INCREMENT_SQL_TYPE NOT NULL PRIMARY KEY,
    name                   varchar(255) NOT NULL,
    telephone              varchar(20) NOT NULL,
    creation_ts            $db.TIMESTAMP_SQL_TYPE NOT NULL,
    customer_source_id     integer NOT NULL
);

ALTER TABLE role_authority_map ADD CONSTRAINT rrmap_role_id_fk FOREIGN KEY (role_id)
    REFERENCES roles (id);
    
ALTER TABLE role_authority_map ADD CONSTRAINT rrmap_authority_id_fk FOREIGN KEY (authority_id)
    REFERENCES authorities (id);

ALTER TABLE user_role_map ADD CONSTRAINT urmap_role_id_fk FOREIGN KEY (role_id)
    REFERENCES roles (id);

ALTER TABLE user_role_map ADD CONSTRAINT urmap_user_id_fk FOREIGN KEY (user_id)
    REFERENCES userbase (id);

ALTER TABLE user_setting_map ADD CONSTRAINT usm_user_id_fk FOREIGN KEY (user_id)
    REFERENCES userbase (id);
        
ALTER TABLE user_setting_map ADD CONSTRAINT usm_setting_id_fk FOREIGN KEY (setting_id)
    REFERENCES setting (id);
            
ALTER TABLE customers ADD CONSTRAINT customers_cs_id_fk FOREIGN KEY (customer_source_id)
    REFERENCES customer_source (id);
